@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 20 83 45;
  --color-onPrimary: 255 255 255;
  --color-surface: 255 255 255;
  --color-background: 248 250 252;
  --color-textPrimary: 15 23 42;
  --color-textSecondary: 71 85 105;
  --color-border: 203 213 225;
  --color-success: 22 101 52;
  --color-warning: 146 64 14;
  --color-danger: 185 28 28;
}
